* {
    margin: 0;
    padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
}

.center-defination {
    text-align: center;
    font-size: 35px;
    padding: 60px 0px;
    color: red;
}

.noun-figures {
    border: 2px solid black;
}

.noun-figures figcaption {
    text-align: center;
    font-size: 20px;
}

.main-topic {
    font-size: 2em;
}   

@media all and (max-width: 850px) {
	.ui-responsive .ui-block-a,
	.ui-responsive .ui-block-b,
	.ui-responsive .ui-block-c,
	.ui-responsive .ui-block-d,
	.ui-responsive .ui-block-e {
		width: 50%;
	}
}

@media all and (max-width: 35em) {
	.ui-responsive .ui-block-a,
	.ui-responsive .ui-block-b,
	.ui-responsive .ui-block-c,
	.ui-responsive .ui-block-d,
	.ui-responsive .ui-block-e {
		width: 100%;
		float: none;
	}
}


